h1{
color: yellow;
}

p{
color: red;
}

#dries{

color: teal;

}

.ibo {

color: pink;
font-size: 60px;

}

body {

background-color: white;

      }

      h6{


      }

      .hasan{

      }

#empty{
display: none;
}